:root {
    --btn-color: #38CFD9;
    --bgc: #23424A;
    --btn-text-color: rgba(7, 42, 45, 1);
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: var(--bgc);
    color: white;
    padding: 100px 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.container-text {

    width: 60%;
   

}

.hero p {
    margin-bottom: 3em;
}

.btn {
    color: var(--bgc);
    text-decoration: none;
    text-transform: uppercase;
    background: var(--btn-color);
    padding: .75em 2em;
    font-weight: 900;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}