@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0 auto;
    /* padding: 0; */
}

.row {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    margin-bottom: 1em;
    font-family: 'Playfair Display SC', serif;
    font-size: 2.25rem;
}
p{
    font-size: 1.3125rem;
    font-family: 'Roboto', sans-serif;
}
header {

    text-align: center;
    background-color: #F3EED9;
    min-height: 660px;
}

.container {
    max-width: 1128px;
    padding: 4em;
}

.inner-container {
    width: 50%;
}
.inner-container + .inner-container{
    margin-left: 1em;
}
header p {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

header h1 {
    color: #824936;
    font-family: 'Playfair Display SC', serif;
    font-size: 3.75rem;
}

.two {
    text-align: center;
}

.two h3{
    color: #824936;
}
.three {
    background-color: #222C2A;
    color: white;
}

img {
    max-width: 100%;
}

.four {
    background-color: #824936;
    color: white;
}